
  <div class="dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">Dashboard</h1>
          <p class="lead text-muted">Welcome {{userData.name}}</p>
          <div>
            <p>You have not yet setup a profile, please add some info</p>
            <a routerLink="/create-profile" class="btn btn-lg btn-info">
              Create Profile
            </a>
          </div>
          <app-dashboard-actions></app-dashboard-actions>
          <app-display-experience></app-display-experience>
          <app-display-education></app-display-education>
          </div>
        </div>
    </div>
</div>